@import 'variables';
@import '../../assets/styles/mixins.scss';

.footer {
    height: 350px;
    padding: 60px 40px 0;
    background: $linear-gradient;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
    position: relative;
    z-index: 0;

    // &-shadow {
    //     position: absolute;
    //     background-color: $color-dark-3xl;
    //     opacity: .4;
    //     bottom: 0;
    //     width: 100%;
    //     height: 40%;
    //     z-index: 1;

    //     &.hidden {
    //         display: none;
    //     }
    // }

    @include for-tablet {
        height: 639px;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        padding: 31px 40px 0 62px;
        column-gap: 52px;
    }

    @include for-mobile {
        height: auto;
        padding: 29px 10px 0;
        justify-content: center;
        align-items: stretch;
        column-gap: 50px;
        row-gap: 40px;
    }

    &-contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        row-gap: 35px;
        flex: 0 1 35%;

        @include for-tablet {
            flex: 0 1 43%;
            row-gap: 37px;
        }

        @include for-mobile {
            min-width: 300px;
            justify-content: center;
            align-items: center;

        }

        &-heading {
            color: #fff;
            margin-right: 95px;

            @include for-tablet {
                margin-right: 0;

            }

            @include for-mobile {
                @include h3-mobile;
                // margin-right: 35px;
            }
        }

        &-element {
            display: flex;
            align-items: center;

            @include for-tablet {
                align-items: center;
            }

            @include for-mobile {
                align-items: center;
            }

            img {
                margin-right: 18px;
            }

            .card-text {
                color: $color-primary;
                margin: 0;

                &:hover {
                    color: $color-primary-light;
                }
            }
        }
    }

    &-location {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        row-gap: 32px;
        align-items: baseline;
        flex: 0 1 37%;

        @include for-tablet {
            flex: 0 1 47%;
            margin-bottom: 0;

        }

        @include for-mobile {
            flex: 0 1 100%;
            justify-content: center;
            align-items: center;
            row-gap: 34px;

        }

        &-heading {
            color: #fff;
            margin-right: 105px;

            @include for-tablet {
                margin-right: 0;
            }

            @include for-mobile {
                @include h3-mobile;
                margin: 0 10% 7px;
            }
        }

        &-element {
            display: flex;

            @include for-tablet {
                align-items: center;

                img {
                    margin-right: 22px;
                }
            }

            @include for-mobile {
                justify-content: start;

                &:last-child {

                    margin-right: 32px;
                }
            }

            img {
                margin-right: 18px;
            }

            .card-text {
                color: $color-primary;
                margin-bottom: 0;
                text-align: left;

                @include for-tablet {
                    margin: 0;
                }

                &:hover {
                    color: $color-primary-light;
                }
            }
        }
    }

    &-image {
        position: relative;
        top: -22px;

        @include for-tablet {
            flex: 0 1 100%;
            top: 27px;
            right: 10px;
            text-align: center;
        }

        @include for-mobile {
            top: 0px;
            left: 0;

            img {
                position: relative;
                z-index: 0;

                width: 260px;
                height: 269px;
            }
        }
    }
}