$font-arial: ARIAL,
Arial,
Helvetica,
sans-serif;
$font-georgia: GEORGIA,
Georgia,
'Times New Roman',
Times,
serif;

$padding-container: 80px 40px 100px;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-l: #545454;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;

$radial-gradient: radial-gradient(farthest-corner at 50px 50px, #544135, #262425 60%);
$linear-gradient: linear-gradient(to right, #544135, #262425 75%);